@if (isLoading()) { @for (item of arr; track $index) {
<div class="shimmer w-100 mb-5">
  <div class="wrapper">
    <div class="d-flex align-items-center my-3 gap-4">
      <div class="animate icon rounded-circle"></div>
      <div class="stroke animate title"></div>
    </div>
    <div class="image-card animate"></div>
    <div class="stroke animate link"></div>
    <div class="stroke animate description"></div>
  </div>
</div>
} }@else {
<!-- =================================== -->
@if(userService.user()?.userId){
<div class="create-post">
  <div class="create-post-input">
    <img
      [routerLink]="['/', 'home', 'profile', userService.user()?.userId]"
      [src]="userService.user()?.picture || 'assets/web_images/user-1.png'"
    />
    <textarea
      style="font-size: 18px"
      rows="2"
      placeholder="Write Something"
      [(ngModel)]="postBody"
    ></textarea>
  </div>
  <div class="create-post-links">
    <li class="cursor-pointer">
      <label for="image_input" class="cursor-pointer">
        <img class="cursor-pointer" src="assets/web_images/photo.png" />Photo
      </label>
    </li>
    <li><img src="assets/web_images/video.png" />Video</li>
    <li><img src="assets/web_images/event.png" />Event</li>
    <li class="cursor-pointer" (click)="post()">Post</li>
  </div>
</div>
} @if(imgLoading()) {
<div class="d-block rounded-1 mx-auto">
  <mat-spinner diameter="25"></mat-spinner>
</div>
}@else{
<img [src]="postThumb" alt="" width="80px" class="d-block rounded-1" />}
<div class="media-body ml-4">
  <input
    id="image_input"
    type="file"
    class="account-settings-fileinput"
    (change)="changeImgFile($event)"
  />
</div>

<!-- <div class="sort-by">
  <hr />
  <p>
    Sort by : <span>top <img src="assets/web_images/down-arrow.png" /></span>
  </p>
</div> -->
<!-- ================================================================= -->
@for (post of allPosts(); track $index) {
<div class="post border borer-1 rounded-1">
  <div class="post-author">
    <img
      [routerLink]="['/', 'app', 'profile', post.author?.userId]"
      class="me-2 cursor-pointer"
      [src]="post.author?.picture"
    />
    <div class="d-flex justify-content-between flex-grow-1">
      <div
        class="cursor-pointer"
        [routerLink]="['/', 'app', 'profile', post.author?.userId]"
      >
        <h2 class="m-0">{{ post.author?.userName }}</h2>
        <small>{{ post.author?.title }}</small>
      </div>
      <div>
        <small>{{ post.timeStamp | date : "dd MMM yyyy" }}</small>
        <small>{{ post.timeStamp | date : "h:mm a" }}</small>
      </div>
    </div>
  </div>
  <p>{{ post.body }}</p>
  <img class="border border-1" [src]="post.thumbUrl" width="100%" />
  <div class="post-stats">
    <div>
      <img src="assets/web_images/thumbsup.png" /><img
        src="assets/web_images/love.png"
      /><img src="assets/web_images/clap.png" /><span class="liked-users">{{
        post.likes
      }}</span>
    </div>
    <div>
      <!-- <span
        >{{ post.comments }} comments &middot; {{ post.shares }} shares</span
      > -->
    </div>
  </div>
  <div class="post-activity">
    <div>
      <img [src]="post.author?.picture" class="post-activity-user-icon" /><img
        src="assets/web_images/down-arrow.png"
        class="post-activity-arrow-icon"
      />
    </div>
    <div class="post-activity-link">
      <img src="assets/web_images/like.png" /><span>Like</span>
    </div>
    <div class="post-activity-link">
      <img src="assets/web_images/comment.png" /><span>Comment</span>
    </div>
    <div class="post-activity-link">
      <img src="assets/web_images/share.png" /><span>Share</span>
    </div>
    <div class="post-activity-link">
      <img src="assets/web_images/send.png" /><span>Send</span>
    </div>
  </div>
</div>
} }
