<nav class="navbar">
  <div class="navbar-left">
    <a href="" class="logo">
      Logo
      <!-- <img src="" alt="logo"/> -->
    </a>
    <div class="search-box">
      <img src="assets/web_images/search.png" />
      <input type="text" placeholder="Search for anything" />
    </div>
  </div>
  <div class="navbar-center">
    <ul>
      <li>
        <a routerLinkActive="active-link" [routerLink]="['/', 'app']"
          ><img src="assets/web_images/home.png" alt="home" />
          <span>Home</span></a
        >
      </li>
      <li>
        <a
          routerLinkActive="active-link"
          [routerLink]="['/', 'app', 'network']"
        >
          <img src="assets/web_images/network.png" alt="network" />
          <span>My Network</span></a
        >
      </li>
      <li>
        <a href="#"
          ><img src="assets/web_images/jobs.png" alt="jobs" />
          <span>Jobs</span></a
        >
      </li>
      <li>
        <a href="#"
          ><img src="assets/web_images/message.png" alt="message" />
          <span>Messaging</span></a
        >
      </li>
      <li>
        <a
          routerLinkActive="active-link"
          [routerLink]="['/', 'app', 'notification']"
        >
          <img src="assets/web_images/notification.png" alt="notification" />
          <span>Notifications</span></a
        >
      </li>
    </ul>
  </div>
  <div class="navbar-right">
    @if (userService.user()) {
    <div class="online">
      <img
        src="assets/web_images/user-1.png"
        class="nav-profile-img"
        (click)="toggleMenu()"
      />
    </div>
    } @else {

    <div>
      <button class="login_btn" (click)="login()">Login</button>
      <button class="reg_btn" (click)="register()">register</button>
    </div>
    }
  </div>
  <!----Dropdown menu-->
  <div class="profile-menu-wrap" id="profileMenu">
    <div class="profile-menu">
      <div class="user-info">
        <img src="assets/web_images/user-1.png" />
        <div>
          <h3>{{ userService.user()?.userName }}</h3>
          <a href="#">See your profile</a>
        </div>
      </div>
      <hr />
      <a href="#" class="profile-menu-link">
        <img src="assets/web_images/feedback.png" />
        <p>Give Feedback</p>
        <span>></span>
      </a>
      <a href="#" class="profile-menu-link">
        <img src="assets/web_images/setting.png" />
        <p>Settings & Privacy</p>
        <span>></span>
      </a>
      <a href="#" class="profile-menu-link">
        <img src="assets/web_images/help.png" />
        <p>Help & Support</p>
        <span>></span>
      </a>
      <a href="#" class="profile-menu-link">
        <img src="assets/web_images/display.png" />
        <p>Display & Accessibility</p>
        <span>></span>
      </a>
      <a href="#" class="profile-menu-link" (click)="logOut()">
        <img src="assets/web_images/logout.png" />
        <p>Logout</p>
        <span>></span>
      </a>
    </div>
  </div>
</nav>
<!-- <script>
    let profileMenu = document.getElementById("profileMenu");

    function toggleMenu(){
        profileMenu.classList.toggle("open-menu");
    }

    let sideActivity = document.getElementById("sidebarActivity");
    let moreLink = document.getElementById("showMoreLink");

    function toggleActivity(){
        sideActivity.classList.toggle("open-activity");
        if (sideActivity.classList.contains("open-activity")) {
            moreLink.innerHTML="Show less <b>-</b>";
            
        }
        else{
            moreLink.innerHTML="Show More <b>+</b>";
        }
    }

</script> -->
