<div class="">
  <h4 class="text-center f-16 on-surface-color my-3">login</h4>
  <form
    class="row py-2 justify-content-center overflow-hidden"
    [formGroup]="loginForm"
  >
    <mat-form-field class="mb-2 col-11">
      <mat-label>email</mat-label>
      <input
        formControlName="email"
        matInput
        placeholder="pat@example.com"
        required
        name="email"
        ngModel
        email
      />
      @if (loginForm.get('email')?.touched &&
      loginForm.get('email')?.errors?.['required']) {
      <mat-error> required</mat-error>} @if (loginForm.get('email')?.touched &&
      loginForm.get('email')?.errors?.['email']) {
      <mat-error> Invalid Mail </mat-error>
      }
    </mat-form-field>

    <mat-form-field class="col-11">
      <mat-label>password</mat-label>
      <input
        formControlName="password"
        matInput
        name="password"
        ngModel
        required
      />
      <button
        mat-icon-button
        matSuffix
        class="f-18"
        type="button"
        type="button"
        [attr.aria-label]="'Hide password'"
      >
        <!-- <i [ngClass]="hide ? 'icon-visibility' : 'icon-visibility-off'"></i> -->
      </button>
      <!-- <mat-error
        *ngIf="this.loginForm.get('password')?.touched && this.loginForm.get('password')?.errors?.['required']"
      >
       required
      </mat-error> -->
    </mat-form-field>

    <div class="mb-3 mt-2">
      <a
        style="text-decoration: underline"
        class="primary-color fw-700 f-14 my-3"
        >forgot password</a
      >
    </div>
    <div class="d-flex justify-content-center">
      <button
        type="submit"
        mat-flat-button
        id="login-submit-btn"
        class="w-50"
        [disabled]=""
      >
        LOGIN
      </button>
    </div>
  </form>
</div>
