<div class="d-flex">
  <div class="profile-card m-3">
    <img src="assets/images/cover.jpg" class="cover-pic" />
    <img src="assets/images/profile.png" class="profile-pic" />

    <!-- Heading Text  -->
    <h1>Prashant Bhardwaj</h1>
    <p>A Passionate Frontend Developer from India 😉</p>

    <!-- Button Section  -->
    <div class="d-flex justify-content-center gap-3">
      <a href="#" class="follow-btn">Follow</a>
      <a href="#" class="message-btn"
        ><i class="fa-solid fa-lock message-icon"></i>Message</a
      >
    </div>
    <!-- Second Section  -->
    <div class="d-flex justify-content-around">
      <div>
        <p>Followers</p>
        <h2>325</h2>
      </div>
      <div>
        <p>Connections</p>
        <h2>310</h2>
      </div>
      <div>
        <p>Posts</p>
        <h2>58</h2>
      </div>
    </div>
    <a class="view-btn"
      ><i class="fab fa-linkedin view-icon"></i>VIEW PROFILE</a
    >
  </div>
  <div class="profile-card m-3">
    <img src="assets/web_images/cover-pic.png" class="cover-pic" />
    <img src="assets/images/profile.png" class="profile-pic" />

    <!-- Heading Text  -->
    <h1>Prashant Bhardwaj</h1>
    <p>A Passionate Frontend Developer from India 😉</p>

    <!-- Button Section  -->
    <div class="d-flex justify-content-center gap-3">
      <a href="#" class="follow-btn">Follow</a>
      <a href="#" class="message-btn"
        ><i class="fa-solid fa-lock message-icon"></i>Message</a
      >
    </div>
    <!-- Second Section  -->
    <div class="d-flex justify-content-around">
      <div>
        <p>Followers</p>
        <h2>325</h2>
      </div>
      <div>
        <p>Connections</p>
        <h2>310</h2>
      </div>
      <div>
        <p>Posts</p>
        <h2>58</h2>
      </div>
    </div>
    <a class="view-btn"
      ><i class="fab fa-linkedin view-icon"></i>VIEW PROFILE</a
    >
  </div>
</div>
