<div class="notifications">
  <div class="notification__sidebar">
    <div class="notificationSidebar__top">
      <h1
        style="align-self: 'center';font-size: 14;font-weight: 500;margin-top: 20;
        "
      >
        Notifications
      </h1>
      <h1 class="head-style" style="margin-top: 10">
        You’re all caught up! Check
      </h1>
      <h1 class="head-style" style="margin-top: 7">back later for new</h1>
      <h1 class="head-style" style="margin-top: 7">notifications</h1>
    </div>
    <div class="notificationSidebar__bottom">
      <h1 class="head-style" style="margin-top: 10">
        Improve your notifications
      </h1>
      <h1
        style="align-self: 'center';font-size: 16;font-weight: 500;margin-top: 10;cursor: 'pointer';
          color: '#63AFE9';
        "
      >
        View settings
      </h1>
    </div>
  </div>
  <div class="notification__feed">
    <app-notification-feed></app-notification-feed>
    <app-notification-feed></app-notification-feed>
    <app-notification-feed></app-notification-feed>
    <app-notification-feed></app-notification-feed>
    <app-notification-feed></app-notification-feed>
    <app-notification-feed></app-notification-feed>
  </div>
  <div class="notification__widgets">
    <div class="notificationWidget__container">
      <img
        style="
          width: 100%;
          background-repeat: 'no-repeat';
          object-fit: 'fill';
          cursor: 'pointer';
        "
        src="../../../../assets/images/R.jpg"
      />
    </div>
  </div>
</div>
