<div class="main-container">
  <!-- left side -->
  <div class="left-sidebar">
    <div class="sidebar-profile-box">
      <img src="assets/web_images/cover-pic.png" width="100%" />
      <div class="sidebar-profile-info">
        <img src="assets/web_images/user-1.png" />
        <h1>John Doe</h1>
        <h3>Data Analyst at IBM</h3>
        <ul>
          <li>Your profile views <span>24</span></li>
          <li>Your post views <span>128</span></li>
          <li>Your Connections<span>108</span></li>
        </ul>
      </div>
      <div class="sidebar-profile-link">
        <a><img src="assets/web_images/items.png" />My Items</a>
        <a><img src="assets/web_images/premium.png" />Try Premium</a>
      </div>
    </div>

    <div class="sidebar-activity" id="sidebarActivity">
      <h3>RECENT</h3>
      <a><img src="assets/web_images/recent.png" />Data Analysis</a>
      <a><img src="assets/web_images/recent.png" />UI UX Design</a>
      <a><img src="assets/web_images/recent.png" />Web Development</a>
      <a
        ><img src="assets/web_images/recent.png" />Object Oriented
        Programming</a
      >
      <a><img src="assets/web_images/recent.png" />Operating Systems</a>
      <a><img src="assets/web_images/recent.png" />Platform technologies</a>
      <h3>GROUPS</h3>
      <a><img src="assets/web_images/group.png" />Data Analyst group</a>
      <a><img src="assets/web_images/group.png" />Learn NumPy</a>
      <a><img src="assets/web_images/group.png" />Machine Learning group</a>
      <a><img src="assets/web_images/group.png" />Data Science Aspirants</a>
      <h3>HASHTAG</h3>
      <a><img src="assets/web_images/hashtag.png" />dataanalyst</a>
      <a><img src="assets/web_images/hashtag.png" />numpy</a>
      <a><img src="assets/web_images/hashtag.png" />machinelearning</a>
      <a><img src="assets/web_images/hashtag.png" />datascience</a>
      <div class="discover-more-link">
        <a>Discover More</a>
      </div>
    </div>
    <p id="showMoreLink" onclick="toggleActivity()">Show more <b>+</b></p>
  </div>
  <!-- main -->
  <div class="main-content">
    <!-- =========================================================-  -->
 
    <div class="shimmer w-100 mb-5">
      <div class="wrapper">
        <div class="d-flex align-items-center my-3 gap-4">
          <div class="animate icon rounded-circle"></div>
          <div class="stroke animate title"></div>
        </div>
        <div class="image-card animate"></div>
        <div class="stroke animate link"></div>
        <div class="stroke animate description"></div>
      </div>
    </div>
    <div class="shimmer w-100 mb-5">
      <div class="wrapper">
        <div class="d-flex align-items-center my-3 gap-4">
          <div class="animate icon rounded-circle"></div>
          <div class="stroke animate title"></div>
        </div>
        <div class="image-card animate"></div>
        <div class="stroke animate link"></div>
        <div class="stroke animate description"></div>
      </div>
    </div>
    <div class="shimmer w-100 mb-5">
      <div class="wrapper">
        <div class="d-flex align-items-center my-3 gap-4">
          <div class="animate icon rounded-circle"></div>
          <div class="stroke animate title"></div>
        </div>
        <div class="image-card animate"></div>
        <div class="stroke animate link"></div>
        <div class="stroke animate description"></div>
      </div>
    </div>
</div>
    <!-- ==========================================================-  -->

    <!-- right -->
    <div class="right-sidebar">
      <div class="sidebar-news">
        <img src="assets/web_images/more.png" class="info-icon" />
        <h3>Trending News</h3>

        <a href="#">High Demand for Skilled Employees</a>
        <span>1d ago &middot; 10,934 readers</span>

        <a href="#">Inflation in Canada Affects the Workforce</a>
        <span>2d ago &middot; 7,043 readers</span>

        <a href="#">Mass Recruiters fire Employees</a>
        <span>4d ago &middot; 17,789 readers</span>

        <a href="#">Crypto predicted to Boom this year</a>
        <span>9d ago &middot; 2, 436 readers</span>

        <a href="#" class="read-more-link">Read More</a>
      </div>
      <div class="sidebar-ad">
        <small>Ad &middot; &middot; &middot;</small>
        <p>Master Web Development</p>
        <div>
          <img src="assets/web_images/user-1.png" />
          <img src="assets/web_images/mi-logo.png" />
        </div>
        <b>Brand and Demand in Xiaomi</b>
        <a href="#" class="ad-link">Learn More</a>
      </div>
      <div class="sidebar-useful-links">
        <a href="#">About</a>
        <a href="#">Accessibility</a>
        <a href="#">Help Center</a>
        <a href="#">Privacy Policy</a>
        <a href="#">Advertising</a>
        <a href="#">Get the App</a>
        <a href="#">More</a>
        <div class="copyright-msg">
          <p> All Rights Reserved</p>
        </div>
      </div>
    </div>
  </div>

