<div class="main-container">
  <!-- left side -->
  @if (userService.user() ) {
  <div class="left-sidebar">
    <div class="sidebar-profile-box">
      <img
        [src]="userService.user()?.cover || 'assets/web_images/cover-pic.png'"
        width="100%"
      />

      <div class="sidebar-profile-info">
        <img
          class="cursor-pointer"
          [routerLink]="['/', 'app', 'profile', userService.user()?.userId]"
          [src]="userService.user()?.picture || 'assets/web_images/user-1.png'"
        />
        <h1
          class="cursor-pointer"
          [routerLink]="['/', 'app', 'profile', userService.user()?.userId]"
        >
          {{ userService.user()?.userName }}
        </h1>
        <h3>Data Analyst at IBM</h3>
        <ul>
          <li>Your profile views <span>24</span></li>
          <li>Your post views <span>128</span></li>
          <li>Your Connections<span>108</span></li>
        </ul>
      </div>
      <div class="sidebar-profile-link">
        <a><img src="assets/web_images/items.png" />My Items</a>
        <a><img src="assets/web_images/premium.png" />Try Premium</a>
      </div>
    </div>

    <div class="sidebar-activity" id="sidebarActivity">
      <h3>RECENT</h3>
      <a><img src="assets/web_images/recent.png" />Data Analysis</a>
      <a><img src="assets/web_images/recent.png" />UI UX Design</a>
      <a><img src="assets/web_images/recent.png" />Web Development</a>
      <a
        ><img src="assets/web_images/recent.png" />Object Oriented
        Programming</a
      >
      <a><img src="assets/web_images/recent.png" />Operating Systems</a>
      <a><img src="assets/web_images/recent.png" />Platform technologies</a>
      <h3>GROUPS</h3>
      <a><img src="assets/web_images/group.png" />Data Analyst group</a>
      <a><img src="assets/web_images/group.png" />Learn NumPy</a>
      <a><img src="assets/web_images/group.png" />Machine Learning group</a>
      <a><img src="assets/web_images/group.png" />Data Science Aspirants</a>
      <h3>HASHTAG</h3>
      <a><img src="assets/web_images/hashtag.png" />dataanalyst</a>
      <a><img src="assets/web_images/hashtag.png" />numpy</a>
      <a><img src="assets/web_images/hashtag.png" />machinelearning</a>
      <a><img src="assets/web_images/hashtag.png" />datascience</a>
      <div class="discover-more-link">
        <a>Discover More</a>
      </div>
    </div>
    <p id="showMoreLink" onclick="toggleActivity()">Show more <b>+</b></p>
  </div>
  }
  <!-- main -->
  <div class="main-content">
    <!-- =========================================================-  -->
    <app-feed></app-feed>
    <!-- <router-outlet></router-outlet> -->
  </div>
  <!-- ==========================================================-  -->

  <!-- right -->
  <div class="right-sidebar">
    <app-right-side></app-right-side>
  </div>
</div>
