<!-- <div class="right-sidebar"> -->
<div class="sidebar-news">
  <img src="assets/web_images/more.png" class="info-icon" />
  <h3>Trending News</h3>

  <a>High Demand for Skilled Employees</a>
  <span>1d ago &middot; 10,934 readers</span>

  <a>Inflation in Canada Affects the Workforce</a>
  <span>2d ago &middot; 7,043 readers</span>

  <a>Mass Recruiters fire Employees</a>
  <span>4d ago &middot; 17,789 readers</span>

  <a>Crypto predicted to Boom this year</a>
  <span>9d ago &middot; 2, 436 readers</span>

  <a class="read-more-link">Read More</a>
</div>
<div class="sidebar-ad">
  <small>Ad &middot; &middot; &middot;</small>
  <p>Master Web Development</p>
  <div>
    <img [src]="userService.user()?.picture" />
    <img src="assets/web_images/mi-logo.png" />
  </div>
  <b>Brand and Demand in Xiaomi</b>
  <a class="ad-link">Learn More</a>
</div>
<div class="sidebar-useful-links">
  <a>About</a>
  <a>Accessibility</a>
  <a>Help Center</a>
  <a>Privacy Policy</a>
  <a>Advertising</a>
  <a>Get the App</a>
  <a>More</a>
  <div class="copyright-msg">
    <p>All Rights Reserved</p>
  </div>
</div>
<!-- </div> -->
