<!-- <div class="right-sidebar"> -->
  <div class="sidebar-news">
    <img src="assets/web_images/more.png" class="info-icon" />
    <h3>Trending News</h3>

    <a href="#">High Demand for Skilled Employees</a>
    <span>1d ago &middot; 10,934 readers</span>

    <a href="#">Inflation in Canada Affects the Workforce</a>
    <span>2d ago &middot; 7,043 readers</span>

    <a href="#">Mass Recruiters fire Employees</a>
    <span>4d ago &middot; 17,789 readers</span>

    <a href="#">Crypto predicted to Boom this year</a>
    <span>9d ago &middot; 2, 436 readers</span>

    <a href="#" class="read-more-link">Read More</a>
  </div>
  <div class="sidebar-ad">
    <small>Ad &middot; &middot; &middot;</small>
    <p>Master Web Development</p>
    <div>
      <img src="assets/web_images/user-1.png" />
      <img src="assets/web_images/mi-logo.png" />
    </div>
    <b>Brand and Demand in Xiaomi</b>
    <a href="#" class="ad-link">Learn More</a>
  </div>
  <div class="sidebar-useful-links">
    <a href="#">About</a>
    <a href="#">Accessibility</a>
    <a href="#">Help Center</a>
    <a href="#">Privacy Policy</a>
    <a href="#">Advertising</a>
    <a href="#">Get the App</a>
    <a href="#">More</a>
    <div class="copyright-msg">
      <p>All Rights Reserved</p>
    </div>
  </div>
<!-- </div> -->
